{% extends 'base.html' %}
{% block content %}
<form class="layui-form layui-form-pane">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>任务信息设置</legend>
    </fieldset>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">任务ID</label>
            <div class="layui-input-block">
                <input type="text" name="任务ID" lay-verify="title" autocomplete="off"
                       placeholder="" class="layui-input" value="{{info.任务ID}}" disabled="">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">规则ID</label>
            <div class="layui-input-block">
                <select id="ruleid" name="规则ID" lay-verify="required">
                    <option value="">请选择</option>
                    {% for item in 规则 %}
                    <option value="{{item.v}}">{{item.t}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">任务名称</label>
            <div class="layui-input-block">
                <input type="text" name="任务名称" lay-verify="required" autocomplete="off"
                       placeholder="请输入任务名称" class="layui-input" value="{{info.任务名称}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">间隔时间</label>
            <div class="layui-input-block">
                <input type="number" max="43200" min="0" name="任务间隔时间" lay-verify="required" autocomplete="off"
                       placeholder="" class="layui-input" value="{{info.任务间隔时间}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">添加类型</label>
            <div class="layui-input-block">
                <select name="添加类型" lay-verify="required">
                    <option value="">请选择</option>
                    {% if info.添加类型 == '0' %}
                    <option value="0" selected="selected">添加</option>
                    <option value="1">不添加(不可用)</option>
                    <option value="2">添加小说不入库章节(不可用)</option>
                    <option value="3">添加章节不保存内容(不可用)</option>
                    <option value="4">只更新章节内容(不可用)</option>
                    {% elif info.添加类型 == '1' %}
                    <option value="0">添加</option>
                    <option value="1" selected="selected">不添加(不可用)</option>
                    <option value="2">添加小说不入库章节(不可用)</option>
                    <option value="3">添加章节不保存内容(不可用)</option>
                    <option value="4">只更新章节内容(不可用)</option>
                    {% elif info.添加类型 == '2' %}
                    <option value="0">添加</option>
                    <option value="1">不添加(不可用)</option>
                    <option value="2" selected="selected">添加小说不入库章节(不可用)</option>
                    <option value="3">添加章节不保存内容(不可用)</option>
                    <option value="4">只更新章节内容(不可用)</option>
                    {% elif info.添加类型 == '3' %}
                    <option value="0">添加</option>
                    <option value="1">不添加</option>
                    <option value="2">添加小说不入库章节(不可用)</option>
                    <option value="3" selected="selected">添加章节不保存内容(不可用)</option>
                    <option value="4">只更新章节内容</option>
                    {% elif info.添加类型 == '4' %}
                    <option value="0">添加</option>
                    <option value="1">不添加(不可用)</option>
                    <option value="2">添加小说不入库章节(不可用)</option>
                    <option value="3">添加章节不保存内容(不可用)</option>
                    <option value="4" selected="selected">只更新章节内容(不可用)</option>
                    {% else %}
                    <option value="0">添加</option>
                    <option value="1">不添加(不可用)</option>
                    <option value="2">添加小说不入库章节(不可用)</option>
                    <option value="3">添加章节不保存内容(不可用)</option>
                    <option value="4">只更新章节内容(不可用)</option>
                    {% endif %}
                </select>
            </div>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>代理信息设置</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">代理类型</label>
        <div class="layui-input-block">
            <select name="代理类型" lay-verify="required">
                <option value="">请选择</option>
                {% if info.代理类型 == '系统级代理' %}
                <option value="无">无</option>
                <option value="系统级代理" selected="selected">系统级代理</option>
                <option value="任务级代理">任务级代理</option>
                {% elif info.代理类型 =='任务级代理' %}
                <option value="无">无</option>
                <option value="系统级代理">系统级代理</option>
                <option value="任务级代理" selected="selected">任务级代理</option>
                {% elif info.代理类型 =='无' %}
                <option value="无" selected="selected">无</option>
                <option value="系统级代理">系统级代理</option>
                <option value="任务级代理">任务级代理</option>
                {% else %}
                <option value="无">无</option>
                <option value="系统级代理">系统级代理</option>
                <option value="任务级代理">任务级代理</option>
                {% endif %}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">代理信息</label>
        <div class="layui-input-block">
            <input type="text" name="代理信息" lay-verify="title" autocomplete="off"
                   placeholder="请输入代理信息 如:user:password@127.0.0.1:9999" class="layui-input" value="{{info.代理信息}}">
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>采集信息设置</legend>
    </fieldset>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <textarea name="内容" required lay-verify="title"
                      placeholder="如书号任务 填写：书号1,书号2,书号3......
列表任务 填写：http://www.biquge.info/list/6_[页码].html 地址可以多个（一行一个同一个分类只允许一个）"
                      class="layui-textarea" style="height:81px">{{info.内容}}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
            <input type="text" name="地址" lay-verify="required" autocomplete="off"
                   placeholder="请输入地址" class="layui-input" value="{{info.地址}}">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">任务类型</label>
            <div class="layui-input-block">
                <select id="tasktype" name="任务类型" lay-verify="required">
                    <option value="">请选择</option>
                    <option value="默认">默认</option>
                    <option value="书号">书号</option>
                    <option value="书号列表">书号列表</option>
                    <option value="列表">列表</option>
                    <option value="搜索">搜索</option>
                    <option value="代理IP">代理IP</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">起始</label>
            <div class="layui-input-block">
                <input type="number" max="43200" min="0" name="起始ID" lay-verify="title" autocomplete="off"
                       placeholder="" class="layui-input" value="{{info.起始ID}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束</label>
            <div class="layui-input-block">
                <input type="number" max="43200" min="0" name="结束ID" lay-verify="title" autocomplete="off"
                       placeholder="" class="layui-input" value="{{info.结束ID}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">顺序</label>
            <div class="layui-input-block">
                <select name="顺序" lay-verify="title">
                    <option value="">请选择</option>
                    {% if info.顺序 == '正序' %}
                    <option value="正序" selected="selected">正序</option>
                    <option value="倒序">倒序</option>
                    {% elif info.顺序 == '倒序' %}
                    <option value="正序">正序</option>
                    <option value="倒序" selected="selected">倒序</option>
                    {% else %}
                    <option value="正序">正序</option>
                    <option value="倒序">倒序</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">采集</label>
            <div class="layui-input-block">
                <select id="status" name="连载状态">
                    <option value="">请选择 - 采集全部</option>
                    {% for item in status %}
                    <option value="{{item.v}}">{{item.t}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">标识修复</label>
            <div class="layui-input-block">
                <select name="标识修复" lay-verify="required">
                    <option value="">请选择</option>
                    {% if info.标识修复 == '开启' %}
                    <option value="开启" selected="selected">开启</option>
                    <option value="不开启">不开启</option>
                    {% elif info.标识修复 =='不开启' %}
                    <option value="开启">开启</option>
                    <option value="不开启" selected="selected">不开启</option>
                    {% else %}
                    <option value="开启">开启</option>
                    <option value="不开启">不开启</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">字数修复</label>
            <div class="layui-input-block">
                <input type="number" max="43200" min="0" name="字数修复" lay-verify="required" autocomplete="off"
                       placeholder="" class="layui-input" value="{{info.字数修复}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">采集间隔</label>
            <div class="layui-input-block">
                <input type="number" max="43200" min="0" name="采集间隔" lay-verify="required" autocomplete="off"
                       placeholder="" class="layui-input" value="{{info.采集间隔}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">重试次数</label>
            <div class="layui-input-block">
                <input type="number" max="43200" min="0" name="重试次数" lay-verify="required" autocomplete="off"
                       placeholder="" class="layui-input" value="{{info.重试次数}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">重试间隔</label>
            <div class="layui-input-block">
                <input type="number" max="43200" min="0" name="重试间隔" lay-verify="required" autocomplete="off"
                       placeholder="" class="layui-input" value="{{info.重试间隔}}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">UserAgent</label>
        <div class="layui-input-block">
            <select id="UA" name="UserAgent" lay-verify="required">
                <option value="">请选择</option>
                {% for item in UserAgent %}
                <option value="{{item.v}}">{{item.t}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>对比信息设置</legend>
    </fieldset>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">对比方式</label>
            <div class="layui-input-block">
                <select name="对比方式" lay-verify="required">
                    <option value="">请选择</option>
                    {% if info.对比方式 == '最后章节名称' %}
                    <option value="最后章节名称" selected="selected">最后章节名称</option>
                    <option value="强制对比">强制对比</option>
                    {% elif info.对比方式 =='强制对比' %}
                    <option value="最后章节名称">最后章节名称</option>
                    <option value="强制对比" selected="selected">强制对比</option>
                    {% else %}
                    <option value="最后章节名称">最后章节名称</option>
                    <option value="强制对比">强制对比</option>
                    {% endif %}

                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">小说线程数</label>
            <div class="layui-input-block">
                <input type="number" max="100" min="0" name="并发数量" lay-verify="required" autocomplete="off"
                       placeholder="" class="layui-input" value="{{info.并发数量}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">章节线程数</label>
            <div class="layui-input-block">
                <input type="number" max="100" min="0" name="章节并发数量" lay-verify="required" autocomplete="off"
                       placeholder="" class="layui-input" value="{{info.章节并发数量}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">邮件预警</label>
            <div class="layui-input-block">
                <select name="预警" lay-verify="required">
                    {% if info.预警 == '开启' %}
                    <option value="开启" selected="selected">开启</option>
                    <option value="关闭">关闭</option>
                    {% else %}
                    <option value="开启">开启</option>
                    <option value="关闭" selected="selected">关闭</option>
                    {% endif %}
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">源站去重</label>
            <div class="layui-input-block">
                <select name="源站去重" lay-verify="required">
                    {% if info.源站去重 == '开启' %}
                    <option value="开启" selected="selected">开启</option>
                    <option value="关闭">关闭</option>
                    {% else %}
                    <option value="开启">开启</option>
                    <option value="关闭" selected="selected">关闭</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">标题替换</label>
            <div class="layui-input-block">
                <select name="章节标题替换" lay-verify="required">
                    {% if info.章节标题替换 == '开启' %}
                    <option value="开启" selected="selected">开启</option>
                    <option value="关闭">关闭</option>
                    {% else %}
                    <option value="开启">开启</option>
                    <option value="关闭" selected="selected">关闭</option>
                    {% endif %}
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">Cookies</label>
        <div class="layui-input-block">
            <textarea name="Cookies" required lay-verify="title"
                      placeholder="请输入Cookies"
                      class="layui-textarea" style="height:81px">{{info.Cookies}}</textarea>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>过滤信息设置</legend>
    </fieldset>
    <div class="layui-row">
        <div class="layui-col-md6">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
            <textarea name="过滤标题" required lay-verify="title"
                      placeholder="请输入标题"
                      class="layui-textarea" style="height:81px">{{info.过滤标题}}</textarea>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">作者</label>
                <div class="layui-input-block">
            <textarea name="过滤作者" required lay-verify="title"
                      placeholder="请输入作者"
                      class="layui-textarea" style="height:81px">{{info.过滤作者}}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">是否添加</label>
            <div class="layui-input-block">
                <select name="过滤是否添加" lay-verify="required">
                    {% if info.过滤是否添加 == '是' %}
                    <option value="是" selected="selected">是</option>
                    <option value="否">否</option>
                    {% else %}
                    <option value="是">是</option>
                    <option value="否" selected="selected">否</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">是否更新</label>
            <div class="layui-input-block">
                <select name="过滤是否更新" lay-verify="required">
                    {% if info.过滤是否更新 == '是' %}
                    <option value="是" selected="selected">是</option>
                    <option value="否">否</option>
                    {% else %}
                    <option value="是">是</option>
                    <option value="否" selected="selected">否</option>
                    {% endif %}
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 50px;">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="save">提 交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重 置</button>
        </div>
    </div>
</form>
<script>
    layui.use(['form', 'jquery'], function () {
        var $ = layui.jquery, form = layui.form;
        $('#status').val('{{info.连载状态}}');
        $('#tasktype').val('{{info.任务类型}}');
        $('#ruleid').val('{{info.规则ID}}');
        $('#UA').val('{{info.UserAgent}}');
        form.render('select')
        var form = layui.form;

        //监听提交
        form.on('submit(save)', function (data) {
            if (data.field['任务类型'] == "默认") {
                if (data.field['地址'] == "") {
                    layer.alert("默认任务好歹也随便写个地址啊！");
                    return false;
                }
            } else if (data.field['任务类型'] == "书号") {
                //内容
                if (data.field['内容'] == "") {
                    layer.alert("书号任务你不添加书号，采集屁啊！");
                    return false;
                }
            } else if (data.field['任务类型'] == "书号列表") {
                if (data.field['起始ID'] == "") {
                    layer.alert("书号列表任务你不填写”起始“书号，想咋采集！");
                    return false;
                }
                if (data.field['结束ID'] == "") {
                    layer.alert("书号列表任务你不填写”结束“书号，想咋采集！");
                    return false;
                }
            } else if (data.field['任务类型'] == "列表") {
                if (data.field['地址'] == "") {
                    layer.alert("列表任务地址虽然不用,但是随便写一个啊！");
                    return false;
                }
                if (data.field['内容'] == "") {
                    layer.alert("列表任务内容都不写一个想上天啊！");
                    return false;
                }
                if (data.field['地址'].indexOf('[页码]') < 0) {
                    layer.alert("列表任务地址是这样写的 http://www.biquge.com/?page=[页码]！");
                    return false;
                }
                if (data.field['起始ID'] == "") {
                    layer.alert("列表任务你不填写”起始“页码，想咋采集！");
                    return false;
                }
                if (data.field['结束ID'] == "") {
                    layer.alert("列表任务你不填写”结束“页码，想咋采集！");
                    return false;
                }
            }
            var loading = layer.load(0, {shade: false});
            $.ajax({
                url: '/task',
                type: 'POST',
                data: data.field,
                success: function (data) {
                    layer.close(loading);
                    if (data == "修改成功！") {
                        window.location.href = '/tasklist';
                    } else {
                        layer.alert(data);
                    }
                    layer.alert(data);
                }
            });
            return false;
        });
        //导航
        $(document).ready(function () {
            var url = GetUrlRelativePath();
            var patt1 = new RegExp(url);
            //$(".layui-this").removeClass();
            $(document.body).find('a').each(function (i, obj) {
                var str = $(obj).attr('href');
                if (patt1.test(str)) {
                    $(obj).parent().addClass("layui-this");
                    $(obj).parent().parent().parent().addClass(" layui-nav-itemed");
                }
            });
        });
    });





</script>
{% endblock %}