Flask==1.1.2
selenium==3.141.0
mysqlclient==2.0.1
Werkzeug==1.0.1
mysql==0.0.2
pip==20.1
click==7.1.2
lxml==4.5.2
pyquery==1.4.1
APScheduler==3.6.3
six==1.15.0
redis==3.5.3
Jinja2==2.11.2
cssselect==1.1.0
itsdangerous==1.1.0
certifi==2020.6.20
public==0.0.0
wheel==0.34.2
pinyin==0.4.0
urllib3==1.25.10
MarkupSafe==1.1.1
pytz==2020.1
tzlocal==2.1
python-dateutil==2.8.1
Flask-APScheduler==1.11.0
psutil==5.7.2
mysql-connector==2.2.9
chardet==3.0.4
setuptools==46.1.3
requests==2.24.0
idna==2.10