{% extends 'base.html' %}
{% block content %}
<div class="demoTable">
    搜索：
    <div class="layui-inline">
        <input class="layui-input" name="搜索" id="keywords" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>
<table class="layui-hide" id="article" lay-filter="article"></table>
<script type="text/html" id="barArticle">
    <a class="layui-btn layui-btn-primary layui-btn-xs layui-btn-radius" lay-event="detail">&nbsp;查 看&nbsp;</a>
    <a class="layui-btn layui-btn-xs layui-btn-radius" lay-event="edit">&nbsp;编 辑&nbsp;</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-radius" lay-event="del">&nbsp;删 除&nbsp;</a>
</script>
<script>
    function formatDate(timeStamp) {
        timeStamp = `${timeStamp}000`;   //如果后台传的timeStamp为10位数，则需要在后面加三个0.
        timeStamp = Number(timeStamp);
        let year = new Date(timeStamp).getFullYear();
        let month = new Date(timeStamp).getMonth() + 1 < 10 ? "0" + (new Date(timeStamp).getMonth() + 1) : new Date(timeStamp).getMonth() + 1;
        let date = new Date(timeStamp).getDate() < 10 ? "0" + new Date(timeStamp).getDate() : new Date(timeStamp).getDate();
        let hh = new Date(timeStamp).getHours() < 10 ? "0" + new Date(timeStamp).getHours() : new Date(timeStamp).getHours();
        let mm = new Date(timeStamp).getMinutes() < 10 ? "0" + new Date(timeStamp).getMinutes() : new Date(timeStamp).getMinutes();
        let ss = new Date(timeStamp).getSeconds() < 10 ? "0" + new Date(timeStamp).getSeconds() : new Date(timeStamp).getSeconds();
        let nowTime = year + "-" + month + "-" + date + " " + " " + hh + ":" + mm + ":" + ss;
        return nowTime;
    }

    layui.use(['form', 'jquery', 'table'], function () {
        var $ = layui.jquery, form = layui.form, table = layui.table;
        //导航
        table.render({
            elem: '#article'
            , url: '/getcontentlist'
            , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['count', 'prev', 'page', 'next', 'skip'] //自定义分页布局'limit'
                , curr: 1 //设定初始在第 5 页
                , groups: 1 //只显示 1 个连续页码
                , first: false //不显示首页
                , last: false //不显示尾页
                , limit: 30
                , limits: [30]
            }
            , cols: [[
                {fixed: 'left', width: 200, title: '操作', align: 'center', toolbar: '#barArticle'}
                , {field: '小说ID', width: 100, align: 'center', title: '小说ID', sort: true}
                , {field: '标题', width: 210, align: 'center', title: '标题'}
                , {field: '作者', width: 120, align: 'center', title: '作者'}
                , {
                    field: '更新时间', width: 160, align: 'center', title: '更新时间', templet: function (row) {
                        return formatDate(row.更新时间);
                    }
                }
                , {field: '更新章节', align: 'center', title: '更新章节', minWidth: 260}
            ]]
        });
        table.on('tool(article)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.open({
                    type: 2
                    , title: '章节列表'
                    , area: ['800px', '600px']
                    , shade: 0
                    , maxmin: true
                    , offset: [ //为了演示，随机坐标
                        ($(window).height() - 600) / 2
                        , ($(window).width() - 800) / 2
                    ]
                    , content: '/chapter?articleid=' + obj.data.小说ID + '&title=' + obj.data.标题
                    , btn: []
                    , yes: function () {
                        layer.closeAll();
                    }
                    , btn2: function () {
                        layer.closeAll();
                    }
                    , zIndex: layer.zIndex //重点1
                    , success: function (layero) {
                        layer.setTop(layero); //重点2
                    }
                });
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {

                });
            } else if (obj.event === 'edit') {
                location.href = '/articleinfo?articleid=' + obj.data.小说ID;
            }
        });
        //监听行双击事件
        table.on('rowDouble(article)', function (obj) {
            layer.open({
                type: 2
                , title: '章节列表'
                , area: ['800px', '600px']
                , shade: 0
                , maxmin: true
                , offset: [ //为了演示，随机坐标
                    ($(window).height() - 600) / 2
                    , ($(window).width() - 800) / 2
                ]
                , content: '/chapter?articleid=' + obj.data.小说ID + '&title=' + obj.data.标题
                , btn: []
                , yes: function () {
                    layer.closeAll();
                }
                , btn2: function () {
                    layer.closeAll();
                }
                , zIndex: layer.zIndex //重点1
                , success: function (layero) {
                    layer.setTop(layero); //重点2
                }
            });
        });
        var active = {
            reload: function () {
                var keys = $('#keywords');
                //执行重载
                table.reload('article', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        key: keys.val()
                    }
                }, 'data');
            }
        };
        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        $(document).ready(function () {
            var url = GetUrlRelativePath();
            var patt1 = new RegExp(url);
            //$(".layui-this").removeClass();
            $(document.body).find('a').each(function (i, obj) {
                var str = $(obj).attr('href');
                if (patt1.test(str)) {
                    $(obj).parent().addClass("layui-this");
                    $(obj).parent().parent().parent().addClass(" layui-nav-itemed");
                }
            });
        });
    });
</script>
{% endblock %}