{% extends 'base.html' %}
{% block content %}
<table class="layui-hide" id="Rotation" lay-filter="Rotation"></table>
<script type="text/html" id="toolbarRotation">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
  </div>
</script>
<script type="text/html" id="barRotation">
  <a class="layui-btn layui-btn-xs layui-btn-radius" lay-event="edit">&nbsp;编 辑&nbsp;</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-radius" lay-event="del">&nbsp;删 除&nbsp;</a>
</script>
<script>
    function formatDate(timeStamp) {
        timeStamp=`${timeStamp}000`;   //如果后台传的timeStamp为10位数，则需要在后面加三个0.
        timeStamp=Number(timeStamp);
        let year = new Date(timeStamp).getFullYear();
        let month =new Date(timeStamp).getMonth() + 1 < 10? "0" + (new Date(timeStamp).getMonth() + 1): new Date(timeStamp).getMonth() + 1;
        let date =new Date(timeStamp).getDate() < 10? "0" + new Date(timeStamp).getDate(): new Date(timeStamp).getDate();
        let hh =new Date(timeStamp).getHours() < 10? "0" + new Date(timeStamp).getHours(): new Date(timeStamp).getHours();
        let mm =new Date(timeStamp).getMinutes() < 10? "0" + new Date(timeStamp).getMinutes(): new Date(timeStamp).getMinutes();
        let ss=new Date(timeStamp).getSeconds() < 10? "0" + new Date(timeStamp).getSeconds(): new Date(timeStamp).getSeconds();
        let nowTime = year + "-" + month + "-" + date +" "+" "+hh+":"+mm +":"+ss;
         return nowTime;
    }
    layui.use(['form','jquery','table'], function(){
        var $=layui.jquery,form = layui.form,table = layui.table;
        //导航
          table.render({
            elem: '#Rotation'
            ,url:'/getrotationlist'
            ,toolbar: '#toolbarRotation'
            ,defaultToolbar:'#toolbarRotation'
            ,page: false
            ,cols: [[
              {fixed: 'left',width:280, title: '操作', align:'center', toolbar: '#barRotation'}
              ,{field:'轮播图名称', width:160, align:'center', title: '轮播图名称', sort: true}
              ,{field:'轮播图地址', minwidth:210, align:'center', title: '轮播图地址'}

            ]]
          });
          //头工具栏事件
          table.on('toolbar(Rotation)', function(obj){
            switch(obj.event){
              case 'add':
                location.href = '/rotation?type=add';
              break;
            };
          });
          table.on('tool(Rotation)', function(obj){
            var data = obj.data;
             if(obj.event === 'del'){
              layer.confirm('真的删除么', function(index){
                $.ajax({
                        url: '/delrotationment?ruleid=' + data.规则ID,
                        success: function (data) {
                            if(data=="删除成功！"){
                                window.location.reload();
                            }
                            else{
                                layer.alert(data);
                            }
                        }
                });
                layer.close(index);
              });
            } else if(obj.event === 'edit'){
              location.href = '/rule?type=up&ruleid=' + data.规则ID;
            } else if(obj.event === 'emprot'){
              location.href = '/emprot?ruleid=' + data.规则ID;
            }
          });
        $(document).ready(function() {
            var url = GetUrlRelativePath();
            var patt1 = new RegExp(url);
            //$(".layui-this").removeClass();
            $(document.body).find('a').each(function(i, obj) {
                var str = $(obj).attr('href');
                if (patt1.test(str)) {
                    $(obj).parent().addClass("layui-this");
                    $(obj).parent().parent().parent().addClass(" layui-nav-itemed");
                }
            });
        });
    });
</script>
{% endblock %}