{% extends 'base.html' %}
{% block content %}
<div class="layui-form layui-form-pane">
    <div class="layui-row">
        <div class="layui-col-md12">
            <a>
                <div class="grid-demo" style="height: 50px;font-size: 20px;line-height: 50px;background: chocolate;">
                    高价收量 联系QQ：1635911920
                </div>
            </a>
        </div>
        <div class="layui-col-md12">
            <a href="http://sd.bhrax.com/inviter/b7R6Qd?userid=10035" target="_blank">
                <div class="grid-demo" style="height: 50px;font-size: 20px;line-height: 50px;background: #ed3;">
                    全网购物返现金，一年网购省10000元！ 邀请码：000918
                </div>
            </a>
        </div>
        <div class="layui-col-md12">
            <a href="https://console-api.nodecache.com/f?aff=EROeK4" target="_blank">
                <div class="grid-demo" style="height: 50px;font-size: 20px;line-height: 50px;background: #ea3;">
                    nodecache服务器
                </div>
            </a>
        </div>
        <div class="layui-col-md12">
            <a
                    href="https://shang.qq.com/wpa/qunwpa?idkey=8d06d02547008a1c8697efa1ac713c3aa9c7f7cd3dd021fbc6d529c01599b11d"
                    target="_blank">
                <div class="grid-demo" style="height: 50px;font-size: 20px;line-height: 50px;background: red;">
                    版本号:4.3
                本项目仅用于Python学习使用,禁止商用。用户使用本系统从事任何违法违规的事情，一切后果由用户自行承担，作者不承担任何责任。交流QQ群：250894607
                </div></a></span>

        </div>
    </div>
</div>

<script>

</script>
{% endblock %}